.header {
  background-color: $header-bg;
  color: $header-color;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $space;
    height: $header-height;
  }

  &__title {
    margin: 0;
  }

  &__nav-toggle {
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    @include desktop {
      display: none;
    }
  }
}