.page-content {
  display: flex;
  max-width: $site-max-width;
  margin: 0 auto;
  height: $page-content-height;

  @include desktop {
    padding: $large-space $space;
  }

  &__sidebar {
    display: flex;
    position: fixed;
    top: $header-height;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    transition: left .3s ease;
    z-index: 1;

    @include desktop {
      position: static;
      width: $page-content-sidebar-width;
      padding-right: $large-space;
      display: flex;
    }
  }

  &__main {
    display: flex;
    width: 100%;

    @include desktop {
      width: $page-content-main-width;
    }
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
}